@model IEnumerable<ReservationSys_LaMaisonRestaurant.Models.Reservation>

<table class="reservation-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="hide-email-field">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="hide-phone-field">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartySize)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="onReservationClick(@item.Id)" class="@(item.Status)">
                <td class="@(item.IsPrivateDining ? "private-dining" : "")">
                    @Html.DisplayFor(modelItem => item.ReferenceCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="hide-email-field">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="hide-phone-field">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => item.TimeSlot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartySize)
                </td>
                <td class="details-button">
                    <a class="details-button" asp-page="./ReservationDetails" asp-route-id="@item.Id" id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>