@page
@model AdminModel

@{
    ViewData["Title"] = "Index";
}
<div class="page">
    <form>
        <div class="filter-group">
            <h4>Sort date by</h4>
            <select type="date" asp-for="SortDateBy">
                <option value="Upcoming">Upcoming</option>
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>
        </div>
        <div class="filter-group">
            <h4>Filter date</h4>
            <input type="date" asp-for="FilterDate" />
        </div>
        <div class="filter-group">
            <h4>Filter status</h4>
            <select type="date" asp-for="FilterStatus" >
                <option value="">All</option>
                <option value="Pending">Pending</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <input type="submit" value="Apply"/>
    </form>
    <div>
        <h4>Expected number of guests: @Model.GuestNumber</h4>
    </div>
    <h1>Reservations</h1>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].ReferenceCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].TimeSlot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation[0].PartySize)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservation)
            {
                <tr onclick="onReservationClick(@item.Id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferenceCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="@(Model.IsSlotFull(item.Date,item.TimeSlot) ? "full" : "not-full")">
                        @Html.DisplayFor(modelItem => item.TimeSlot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartySize)
                    </td>
                    <td class="details-button">
                        <a class="details-button" asp-page="./ReservationDetails" asp-route-id="@item.Id" id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>